createdAt: "2019-02-14T05:32:02.371Z"
updatedAt: "2019-02-15T01:33:01.161Z"
type: "SNIPPET_NOTE"
folder: "c41e43119f620bd727d8"
title: "Move images to their own folder"
tags: []
description: "Move images to their own folder"
snippets: [
  {
    linesHighlighted: []
    name: "Move images to their own folder"
    content: '''
      # Move images to their own folder
      - folders: *target
        filters:
          - Extension:
            - .jpg
            - .bmp
        actions:
          - Move: '~/Desktop/Images/'
    '''
  }
]
isStarred: false
isTrashed: false
