createdAt: "2019-02-14T05:08:10.091Z"
updatedAt: "2019-02-15T01:13:30.110Z"
type: "SNIPPET_NOTE"
folder: "c41e43119f620bd727d8"
title: "Get rid of \"garbage\" files"
tags: []
description: "Get rid of \"garbage\" files"
snippets: [
  {
    linesHighlighted: []
    name: "Get rid of \"garbage\" files"
    content: '''
      # Get rid files beginning with "garbage_"
        - folders: *target
          filters:
            - startswith: garbage
          actions:
            - Trash
    '''
  }
]
isStarred: false
isTrashed: false
