createdAt: "2019-02-14T05:40:28.910Z"
updatedAt: "2019-02-15T01:13:16.469Z"
type: "SNIPPET_NOTE"
folder: "c41e43119f620bd727d8"
title: "Read old files"
tags: []
description: "Read old files"
snippets: [
  {
    linesHighlighted: []
    name: "Read old files"
    content: '''
      # For text files older than eight years, show their contents
        - folders: *target
          filters:
            - LastModified:
                days: 2920
                mode: older
            - Extension: txt
          actions:
            - Echo: "This file was last modified in {lastmodified.year}. Here is what it contains:"
            - Python: |
                old_text_file = open(path, "r")
                if old_text_file.mode == "r":
                  contents = old_text_file.read()
                  print("\\n" + contents)
    '''
  }
]
isStarred: false
isTrashed: false
