createdAt: "2019-02-14T05:40:28.910Z"
updatedAt: "2019-02-15T03:59:56.907Z"
type: "SNIPPET_NOTE"
folder: "c41e43119f620bd727d8"
title: "Read recently modified text files"
tags: []
description: "Read recently modified text files"
snippets: [
  {
    linesHighlighted: []
    name: "Read recently modified text files"
    content: '''
          # For text files modified in the last five minutes, show their contents
          - folders: *target
            subfolders: true
            filters:
              - LastModified:
                  minutes: 5
                  mode: newer
              - Extension: txt
            actions:
              - Echo: "This file was last modified at {lastmodified.hour}:{lastmodified.minute}, which is less than five minutes ago. Here is what it contains:"
              - Python: print("\n" + path.read_text())
    '''
  }
]
isStarred: false
isTrashed: false
